{% extends "layouts/main.html" %}

{% set pageName="Your application" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application task list",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your application</h1>
    
    <div class="govuk-inset-text govuk-!-margin-bottom-9">
      <p>
        Application reference: <strong>{{ data.application.reference }}</strong>
      </p>
      <p>
        Lead applicant: <strong>{{ data.application.leadApplicant }}</strong>
      </p>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Details of academies</h2>
        {% if data.application.status !== 'Submitted' %}
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" href="academies-to-transfer">
              Change<span class="govuk-visually-hidden"> details of academies</span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not data['academies-to-transfer'] or data['academies-to-transfer'].length === 0 %}
          <div class="govuk-inset-text">
            No academies have been selected.
          </div>
        {% else %}
          <dl class="govuk-summary-list">
            {% for academy in data['academies-to-transfer'] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Academy {{ loop.index }}
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{ academy.name }}</p>
                  <p class="govuk-body govuk-!-margin-bottom-0">URN: {{ academy.urn }}</p>
                </dd>
              </div>
            {% endfor %}
          </dl>
        {% endif %}
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Reason and benefits (Academies)</h2>
        {% if data.application.status !== 'Submitted' %}
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" href="reason-and-benefits-academies">
              Change<span class="govuk-visually-hidden"> reason and benefits (academies)</span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not data['reason-and-benefits-academies-strategic-needs'] and not data['reason-and-benefits-academies-maintain-improve'] and not data['reason-and-benefits-academies-benefit-trust'] %}
          <div class="govuk-inset-text">
            No reason and benefits information has been added.
          </div>
        {% else %}
          <dl class="govuk-summary-list">
            {% if data['reason-and-benefits-academies-strategic-needs'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What are the strategic needs of the transferring academies and their local areas?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['reason-and-benefits-academies-strategic-needs'] }}
              </dd>
            </div>
            {% endif %}

            {% if data['reason-and-benefits-academies-maintain-improve'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How will the transferring academies help maintain and improve existing academies in the trust?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['reason-and-benefits-academies-maintain-improve'] }}
              </dd>
            </div>
            {% endif %}

            {% if data['reason-and-benefits-academies-benefit-trust'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How will the transferring academies benefit the trust?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['reason-and-benefits-academies-benefit-trust'] }}
              </dd>
            </div>
            {% endif %}
          </dl>
        {% endif %}
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Risks</h2>
        {% if data.application.status !== 'Submitted' %}
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" href="risks-summary">
              Change<span class="govuk-visually-hidden"> risks</span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not data['risks-due-diligence'] and not data['risks-pupil-numbers'] %}
          <div class="govuk-inset-text">
            No risks information has been added.
          </div>
        {% else %}
          <dl class="govuk-summary-list">
            {% if data['risks-due-diligence'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What due diligence activities have been carried out on the transferring academies?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-due-diligence'] }}
              </dd>
            </div>
            {% endif %}
            {% if data['risks-pupil-numbers'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are pupil numbers in any transferring academy expected to drop below 85% of the school capacity?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-pupil-numbers'] }}
              </dd>
            </div>
            {% endif %}
            {% if data['risks-pupil-numbers'] === 'Yes' and data['risks-pupil-forecast'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provide a 3 year forecast of pupil numbers and plans to improve this
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-pupil-forecast'] }}
              </dd>
            </div>
            {% endif %}
            {% if data['risks-financial-deficit'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do any transferring academy have an in-year deficit or overall deficit?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-financial-deficit'] }}
              </dd>
            </div>
            {% endif %}
            {% if data['risks-financial-deficit'] === 'Yes' and data['risks-financial-forecast'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provide a 3 year financial forecast for the academy and your plans to bring the academy into surplus
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-financial-forecast'] }}
              </dd>
            </div>
            {% endif %}
            {% if data['risks-finances-pooled'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are any transferring academy's finances currently pooled?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-finances-pooled'] }}
              </dd>
            </div>
            {% endif %}
            {% if data['risks-finances-pooled'] === 'Yes' and data['risks-reserves-transfer'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How much of the reserves and funding allocated to the academies will transfer over?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-reserves-transfer'] }}
              </dd>
            </div>
            {% endif %}
            {% if data['risks-other-risks'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are there other risks related to the transferring academies?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-other-risks'] }}
              </dd>
            </div>
            {% endif %}
            {% if data['risks-other-risks'] === 'Yes' and data['risks-risk-management'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What are the risks and the plans to manage them?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['risks-risk-management'] }}
              </dd>
            </div>
            {% endif %}
          </dl>
        {% endif %}
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Trust details</h2>
        {% if data.application.status !== 'Submitted' %}
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" href="incoming-trust-summary">
              Change<span class="govuk-visually-hidden"> trust details</span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not data['new-trust'] %}
          <div class="govuk-inset-text">
            No incoming trust information has been added.
          </div>
        {% else %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is the result of this transfer the formation of a new trust?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ "Yes" if data['new-trust'] === 'yes' else "No" }}
              </dd>
            </div>

            {% if data['new-trust'] === 'yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                New trust
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['proposed-trust-name'] }}
              </dd>
            </div>
            {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there a preferred trust for these academies?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ "Yes" if data['preferred-trust'] === 'yes' else "No" }}
              </dd>
            </div>

            {% if data['preferred-trust'] === 'yes' and data['selected-trust'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred trust
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data.selectedTrust.name }}</p>
                <p class="govuk-body">TRN: {{ data.selectedTrust.ref }}</p>
                <p class="govuk-body govuk-!-margin-bottom-0">UKPRN: {{ data.selectedTrust.companies }}</p>
              </dd>
            </div>
            {% endif %}
            {% endif %}
          </dl>
        {% endif %}
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Reason and benefits (Trust)</h2>
        {% if data.application.status !== 'Submitted' %}
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" href="reason-and-benefits-trust">
              Change<span class="govuk-visually-hidden"> reason and benefits (trust)</span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not data['reason-and-benefits-trust-strategic-needs'] and not data['reason-and-benefits-trust-maintain-improve'] %}
          <div class="govuk-inset-text">
            No reason and benefits information has been added.
          </div>
        {% else %}
          <dl class="govuk-summary-list">
            {% if data['reason-and-benefits-trust-strategic-needs'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What are the strategic needs of the trust?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['reason-and-benefits-trust-strategic-needs'] }}
              </dd>
            </div>
            {% endif %}

            {% if data['reason-and-benefits-trust-maintain-improve'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How will the trust support the developmental needs of the transferring academies?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['reason-and-benefits-trust-maintain-improve'] }}
              </dd>
            </div>
            {% endif %}

            <!-- Temporarily hidden: What type of transfer it is?
            {% if data['reason-and-benefits-trust-transfer-type'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What type of transfer it is?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['reason-and-benefits-trust-transfer-type'] }}
              </dd>
            </div>
            {% endif %}
            -->
          </dl>
        {% endif %}
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">High-quality and inclusive education</h2>
        {% if data.application.status !== 'Submitted' %}
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" href="high-quality-and-inclusive-education">
              Change<span class="govuk-visually-hidden"> high-quality and inclusive education</span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not data['high-quality-and-inclusive-education-quality'] and not data['high-quality-and-inclusive-education-inclusive'] %}
          <div class="govuk-inset-text">
            No high-quality and inclusive education information has been added.
          </div>
        {% else %}
          <dl class="govuk-summary-list">
            {% if data['high-quality-and-inclusive-education-quality'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How do the existing academies at the trust provide high quality and inclusive education?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['high-quality-and-inclusive-education-quality'] }}
              </dd>
            </div>
            {% endif %}

            {% if data['high-quality-and-inclusive-education-inclusive'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How will the transfer impact the trust and transferring academies?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['high-quality-and-inclusive-education-inclusive'] }}
              </dd>
            </div>
            {% endif %}
          </dl>
        {% endif %}
      </div>
    </div>

    
    {% if data.application.status !== 'Submitted' %}
      <h2 class="govuk-heading-m">Now submit your application</h2>
      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="application-complete" method="post">
        <button class="govuk-button" type="submit">Submit application</button>
      </form>
    {% endif %}
  </div>
</div>

{% endblock %} 