{% extends "layouts/main.html" %}

{% set pageName="Declaration from academy trust chair summary" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application task list",
    href: "application-task-list?ref=" + data.application.reference,
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" id="declaration">
      Declaration from academy trust chair
    </h1>

    <p class="govuk-body eat-transfer__task-owner-box">
      {{ taskOwnerDisplay }} <a class="govuk-link" href="task-owner-update?task=declaration">Change</a>
    </p>

    {% if not data['declarations'] or data['declarations'].length === 0 %}
    <div class="govuk-inset-text">
      No declaration has been added.
    </div>
    <a href="declaration-trust-search" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add declaration from academy trust chair
    </a>
    {% else %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      {% for declaration in data['declarations'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Declaration {{ loop.index }}
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"><strong>{{ declaration.trust.name }}</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-0">Date: {{ declaration.dateOfDeclaration.day }}/{{ declaration.dateOfDeclaration.month }}/{{ declaration.dateOfDeclaration.year }}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="declaration-form?index={{ loop.index0 }}">
            View details<span class="govuk-visually-hidden"> declaration {{ loop.index }}</span>
          </a>
        </dd>
      </div>
      {% endfor %}
    </dl>
    <a href="declaration-trust-search" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">
      Add declaration from academy trust chair
    </a>
    {% endif %}

    <form action="application-task-list" method="post">
      <input type="hidden" name="from-check-answers" value="{{ 'true' if data['from-check-answers'] else 'false' }}">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="declaration-status" name="declaration-status" type="checkbox" value="Complete" {% if data['declaration-status'] %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="declaration-status">
              Mark this section as complete, you can still make changes later
            </label>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>
  </div>
</div>

{% endblock %} 