{% extends "layouts/main.html" %}

{% set pageName="Members 1" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application task list",
    href: "application-task-list?ref=" + data.application.reference,
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" id="members-1">
      Members 1
    </h1>

    <div class="govuk-inset-text eat-transfer__task-owner-box">
      {{ taskOwnerDisplay }} <a class="govuk-link" href="task-owner-update?task=members-1">Change</a>
    </div>

    <h2 class="govuk-heading-m">Who will be the Members of the trust after the transfer?</h2>
    
    <p class="govuk-body">
      The trust must have at least 3 members and should have 5 or more.
      Members must not be employees of the trust.
    </p>
    
    {% if not data['members-1-to-add'] or data['members-1-to-add'].length === 0 %}
      <div class="govuk-inset-text">
        No members have been added. Use the 'Add member' button below to add members.
      </div>
    {% else %}
      <dl class="govuk-summary-list">
        {% for member in data['members-1-to-add'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Member {{ loop.index }}
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ member.name }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="confirm-delete-member-1?index={{ loop.index0 }}">
                Remove<span class="govuk-visually-hidden"> member {{ loop.index }}</span>
              </a>
            </dd>
          </div>
          {% if member.currentResponsibilities %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is {{ member.name }}'s current responsibilities?
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ member.currentResponsibilities }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="member-1-current-responsibilities?member={{ loop.index0 }}">
                Change<span class="govuk-visually-hidden"> current responsibilities for {{ member.name }}</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if member.pastResponsibilities %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is {{ member.name }}'s past responsibilities?
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ member.pastResponsibilities }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="member-1-past-responsibilities?member={{ loop.index0 }}">
                Change<span class="govuk-visually-hidden"> past responsibilities for {{ member.name }}</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if member.futureRole %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What will {{ member.name }}'s role and responsibilities be as a member?
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ member.futureRole }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="member-1-future-role?member={{ loop.index0 }}">
                Change<span class="govuk-visually-hidden"> future role for {{ member.name }}</span>
              </a>
            </dd>
          </div>
          {% endif %}
        {% endfor %}
      </dl>
    {% endif %}

    <a href="member-1-add" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">
      Add member
    </a>

    <h2 class="govuk-heading-m">Which current members are leaving the trust?</h2>
    
    {% if not data['members-1-to-remove'] or data['members-1-to-remove'].length === 0 %}
      <div class="govuk-inset-text">
        No members have been marked for removal. Use the 'Add member to remove' button below to add members who will be removed.
      </div>
    {% else %}
      <dl class="govuk-summary-list">
        {% for member in data['members-1-to-remove'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Member to remove {{ loop.index }}
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ member.name }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="confirm-delete-member-1-to-remove?index={{ loop.index0 }}">
                Remove<span class="govuk-visually-hidden"> member to remove {{ loop.index }}</span>
              </a>
            </dd>
          </div>
        {% endfor %}
      </dl>
    {% endif %}

    <a href="member-1-to-remove-add" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">
      Add member to remove
    </a>

    <form action="application-task-list" method="post">
      <input type="hidden" name="from-check-answers" value="{{ 'true' if data['from-check-answers'] else 'false' }}">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="members-1-status" name="members-1-status" type="checkbox" value="Complete" {% if data['members-1-status'] %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="members-1-status">
              Mark this section as complete, you can still make changes later
            </label>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>
  </div>
</div>

{% endblock %} 