{% extends "layouts/main.html" %}

{% set pageName="Add a member by name" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to Members",
    href: "members-summary",
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Add a member by name
    </h1>

    <p class="govuk-body">
      Enter the full name of the member who will be part of the trust after the transfer.
    </p>

    <form action="member-confirmation" method="post">
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="member-first-name">
          First name
        </label>
        <input class="govuk-input" id="member-first-name" name="member-first-name" type="text" value="{{ data['member-first-name'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="member-last-name">
          Last name
        </label>
        <input class="govuk-input" id="member-last-name" name="member-last-name" type="text" value="{{ data['member-last-name'] }}">
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
      
    </form>
  </div>
</div>

{% endblock %} 