{% extends "layouts/main.html" %}

{% set pageName="Search for a member" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <form class="form" action="members-search-results" method="post">
        <input hidden type="text" name="returnToSummary" value="no"/>

        {{ govukInput({
          label: {
            html: '<span class="govuk-caption-l">Members</span>
            Search for a member by name',
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "For example, search by first name and last name"
          },
          id: "member-search-name",
          name: "member-search-name",
          value: data["member-search-name"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
  </div>
</div>

{% endblock %} 