{% extends "layouts/main.html" %}

{% set pageName="Is this the right member?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to Add a member by name",
    href: "member-1-add",
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Is this the right member?
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Member name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['member-first-name'] }} {{ data['member-last-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="member-1-add">
            Change<span class="govuk-visually-hidden"> member name</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="member-1-current-responsibilities" method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Is this the right member?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="member-confirmed-yes" name="member-confirmed" type="radio" value="Yes" {% if data['member-confirmed'] == 'Yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="member-confirmed-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="member-confirmed-no" name="member-confirmed" type="radio" value="No" {% if data['member-confirmed'] == 'No' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="member-confirmed-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
      
    </form>
  </div>
</div>

{% endblock %} 