{% extends "layouts/main.html" %}

{% set pageName="Past responsibilities" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <form class="form" action="member-past-responsibilities" method="post">
      {% set selectedMember = data['selected-member'].split('|||') %}
      {% set memberName = selectedMember[0] %}

      {{ govukCharacterCount({
        label: {
          html: '<span class="govuk-caption-l">Members</span>
          What is ' + memberName + '\'s past responsibilities?',
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "Describe the member's previous roles and responsibilities, including any relevant experience"
        },
        maxlength: 4000,
        id: "member-past-responsibilities",
        name: "member-past-responsibilities",
        value: data["member-past-responsibilities"]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    
  </div>
</div>

{% endblock %} 