{% extends "layouts/main.html" %}

{% set pageName="Past responsibilities" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to Current responsibilities",
    href: "member-current-responsibilities",
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="member-future-role" method="post">
      
      {{ govukCharacterCount({
        label: {
          html: '<span class="govuk-caption-l">Members</span>
          What is ' + data['member-first-name'] + ' ' + data['member-last-name'] + '\'s past responsibilities?',
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Provide details about their previous roles, responsibilities, and any relevant experience that demonstrates their capability."
        },
        maxlength: 4000,
        id: "member-past-responsibilities",
        name: "member-past-responsibilities",
        value: data["member-past-responsibilities"]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
      
    </form>
  </div>
</div>

{% endblock %} 