{% extends "layouts/main.html" %}

{% set pageName="Reason and benefits" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application task list",
    href: "application-task-list?ref=" + data.application.reference,
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" id="reason-and-benefits-trust">
      Reason and benefits
    </h1>

    <p class="govuk-body eat-transfer__task-owner-box">
      {{ taskOwnerDisplay }} <a class="govuk-link" href="task-owner-update?task=reason-and-benefits-trust">Change</a>
    </p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What are the strategic needs of the trust?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['reason-and-benefits-trust-strategic-needs'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reason-and-benefits-trust-strategic-needs">
            Change<span class="govuk-visually-hidden"> strategic needs</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will the trust support the developmental needs of the transferring academies?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['reason-and-benefits-trust-maintain-improve'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reason-and-benefits-trust-maintain-improve">
            Change<span class="govuk-visually-hidden"> how will the trust support the developmental needs</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How will the trust benefit the transferring academies?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['reason-and-benefits-trust-benefit-trust'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reason-and-benefits-trust-benefit-trust">
            Change<span class="govuk-visually-hidden"> how will the trust benefit the transferring academies</span>
          </a>
        </dd>
      </div>
      <!-- Temporarily hidden: What type of transfer it is?
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What type of transfer it is?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['reason-and-benefits-trust-transfer-type'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reason-and-benefits-trust-transfer-type">
            Change<span class="govuk-visually-hidden"> what type of transfer it is</span>
          </a>
        </dd>
      </div>
      -->
    </dl>
    

    <form action="application-task-list" method="post">
      <input type="hidden" name="from-check-answers" value="{{ 'true' if data['from-check-answers'] else 'false' }}">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="reason-and-benefits-trust-status" name="reason-and-benefits-trust-status" type="checkbox" value="Complete" {% if data['reason-and-benefits-trust-status'] %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="reason-and-benefits-trust-status">
              Mark this section as complete, you can still make changes later
            </label>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>
  </div>
</div>

{% endblock %} 