/*
@import 'node_modules/dfe-frontend/packages/dfefrontend';
*/

//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.prototype-index-card {
    background-color: #d9f0ff; 
    padding: 20px 30px 10px 30px; 
    margin-bottom: 30px;
    code {
        padding: 0 5px;
        color: #d13118;
        background-color: #fff;
    }
}