{% extends "layouts/main.html" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageName="Academies to transfer" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to Application task list",
    href: "application-task-list",
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Academies to transfer
    </h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Academies to transfer</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="academies-to-transfer">
              Change<span class="govuk-visually-hidden"> academies to transfer</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% if data['academies-to-transfer'] %}
            {% for academy in data['academies-to-transfer'] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Academy {{ loop.index }}
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{ academy.name }}</p>
                </dd>
              </div>
            {% endfor %}
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Academies
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">No academies added</p>
              </dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>

    <div class="govuk-button-group">
      <a href="application-task-list" class="govuk-button">
        Continue to application task list
      </a>
    </div>

  </div>
</div>

{% endblock %} 