{% extends "layouts/main.html" %}

{% set pageName="Your application" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="dashboard" class="govuk-back-link govuk-!-margin-bottom-9">Back to dashboard</a>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Your application 
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <div class="govuk-inset-text govuk-!-margin-bottom-9">
      <p>
        Application reference: <strong>{{ data.application.reference }}</strong>
      </p>
      <p>
        Lead applicant: <strong>{{ data.application.leadApplicant }}</strong>
      </p>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">About transferring academies</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="academies-to-transfer-summary" aria-describedby="details-of-academies-  status">
            Details of academies
          </a>
        </div>
        <div class="govuk-task-list__status" id="details-of-academies-  status">
          {% if data['academies-to-transfer-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="reason-and-benefits-academies" aria-describedby="reason-and-benefits-academies-status">
            Reason and benefits
          </a>
        </div>
        <div class="govuk-task-list__status" id="reason-and-benefits-academies-status">
          {% if data['reason-and-benefits-academies-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="risks-summary" aria-describedby="risks-status">
            Risks
          </a>
        </div>
        <div class="govuk-task-list__status" id="risks-status">
          {% if data['risks-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">About the incoming trust</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="incoming-trust-summary" aria-describedby="incoming-trust-status">
            Trust details
          </a>
        </div>
        <div class="govuk-task-list__status" id="incoming-trust-status">
          {% if data['incoming-trust-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="reason-and-benefits-trust" aria-describedby="reason-and-benefits-trust-status">
            Reason and benefits
          </a>
          <div id="task-2-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>{{ processTaskOwners('reason-and-benefits-trust-status') }}</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="reason-and-benefits-trust-status">
          {% if data['reason-and-benefits-trust-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="high-quality-and-inclusive-education" aria-describedby="high-quality-and-inclusive-education-status">
            High-quality and inclusive education
          </a>
        </div>
        <div class="govuk-task-list__status" id="high-quality-and-inclusive-education-status">
          {% if data['high-quality-and-inclusive-education-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="school-improvement" aria-describedby="school-improvement-status">
            School improvement 
          </a>
        </div>
        <div class="govuk-task-list__status" id="school-improvement-status">
          {% if data['school-improvement-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="finance-and-operations-status">
            Finance and operations
          </a>
        </div>
        <div class="govuk-task-list__status" id="finance-and-operations-status">
          {% if data['finance-and-operations-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="leadership-and-work-force-status">
            Leadership and work force 
          </a>
        </div>
        <div class="govuk-task-list__status" id="leadership-and-work-force-status">
          {% if data['leadership-and-work-force-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="members-summary" aria-describedby="members-status">
            Members
          </a>
        </div>
        <div class="govuk-task-list__status" id="members-status">
          {% if data['members-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="trustee-summary" aria-describedby="trustee-status">
            Trustees
          </a>
        </div>
        <div class="govuk-task-list__status" id="trustee-status">
          {% if data['trustee-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="governance-structure" aria-describedby="governance-status">
            Governance structure
          </a>
        </div>
        <div class="govuk-task-list__status" id="governance-status">
          {% if data['governance-structure-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
    </ul>


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Consent and consultations</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="diocesan-consent-status">
            Diocesan consent 
          </a>
        </div>
        <div class="govuk-task-list__status" id="diocesan-consent-status">
          {% if data['diocesan-consent-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="board-resolutions-status">
            Board resolutions
          </a>
        </div>
        <div class="govuk-task-list__status" id="board-resolutions-status">
          {% if data['board-resolutions-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="results-of-consultations-and-other-stakeholder-engagements-status">
            Results of consultations and other stakeholder engagements
          </a>
        </div>
        <div class="govuk-task-list__status" id="results-of-consultations-and-other-stakeholder-engagements-status">
          {% if data['results-of-consultations-and-other-stakeholder-engagements-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Declaration</h2>

    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="declaration-summary" aria-describedby="declaration-status">
            Declaration from academy trust chair
          </a>
        </div>
        <div class="govuk-task-list__status" id="declaration-status">
          {% if data['declaration-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
    </ul>

    <div class="govuk-button-group govuk-!-margin-top-9">
      <form action="check-your-answers" method="post">
        <button class="govuk-button" type="submit">Preview application</button>
      </form>
    </div>
    
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Inviting contributors</h2>

    <p class="govuk-body">
      You can invite other people to complete parts of this application.
    </p>
    <a href="contributors-home" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Invite contributors</a>
  </div>
</div>

{% endblock %}
