{% extends "layouts/main.html" %}

{% set pageName="Application task list" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to Applications",
    href: "applications",
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Application task list
    </h1>

    <ol class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="academies-to-transfer-summary" aria-describedby="academies-to-transfer-status">
            Academies to transfer
          </a>
          <div id="task-1-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="academies-to-transfer-status">
          {% if data['academies-to-transfer-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="reason-and-benefits-academies" aria-describedby="reason-and-benefits-academies-status">
            Reason and benefits (academies)
          </a>
          <div id="task-2-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="reason-and-benefits-academies-status">
          {% if data['reason-and-benefits-academies-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="risks-summary" aria-describedby="risks-status">
            Risks
          </a>
          <div id="task-3-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="risks-status">
          {% if data['risks-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="incoming-trust-summary" aria-describedby="incoming-trust-status">
            Incoming trust
          </a>
          <div id="task-4-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="incoming-trust-status">
          {% if data['incoming-trust-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="reason-and-benefits-trust" aria-describedby="reason-and-benefits-trust-status">
            Reason and benefits (trust)
          </a>
          <div id="task-5-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="reason-and-benefits-trust-status">
          {% if data['reason-and-benefits-trust-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="high-quality-and-inclusive-education" aria-describedby="high-quality-and-inclusive-education-status">
            High-quality and inclusive education
          </a>
          <div id="task-6-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="high-quality-and-inclusive-education-status">
          {% if data['high-quality-and-inclusive-education-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="school-improvement" aria-describedby="school-improvement-status">
            School improvement
          </a>
          <div id="task-7-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="school-improvement-status">
          {% if data['school-improvement-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="finance-summary" aria-describedby="finance-and-operations-status">
            Finance and operations
          </a>
          <div id="task-8-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="finance-and-operations-status">
          {% if data['finance-and-operations-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="leadership-and-workforce-summary" aria-describedby="leadership-and-work-force-status">
            Leadership and workforce
          </a>
          <div id="task-9-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="leadership-and-work-force-status">
          {% if data['leadership-and-work-force-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="members-summary" aria-describedby="members-status">
            Members
          </a>
          <div id="task-10-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="members-status">
          {% if data['members-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="trustee-summary" aria-describedby="trustee-status">
            Trustees
          </a>
          <div id="task-11-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="trustee-status">
          {% if data['trustee-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="governance-structure-model" aria-describedby="governance-status">
            Governance structure
          </a>
          <div id="task-12-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="governance-status">
          {% if data['governance-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="diocesan-consent-summary" aria-describedby="diocesan-consent-status">
            Diocesan consent
          </a>
          <div id="task-13-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="diocesan-consent-status">
          {% if data['diocesan-consent-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="board-resolutions-summary" aria-describedby="board-resolutions-status">
            Board resolutions
          </a>
          <div id="task-14-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="board-resolutions-status">
          {% if data['board-resolutions-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="results-of-consultations-and-other-stakeholder-engagements-summary" aria-describedby="results-of-consultations-and-other-stakeholder-engagements-status">
            Results of consultations and other stakeholder engagements
          </a>
          <div id="task-15-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="results-of-consultations-and-other-stakeholder-engagements-status">
          {% if data['results-of-consultations-and-other-stakeholder-engagements-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="declaration" aria-describedby="declaration-status">
            Declaration
          </a>
          <div id="task-16-hint" class="govuk-task-list__hint">
            <span class="hint-name">
              <strong>Arden Laney</strong>
            </span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="declaration-status">
          {% if data['declaration-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
