{% extends "layouts/main.html" %}

{% set pageName="Finance and operations" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to Application task list",
    href: "application-task-list",
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Finance and operations
    </h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Finance and operations</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="finance">
              Change<span class="govuk-visually-hidden"> finance and operations</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% if data['finance'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Finance and operations
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['finance'] }}</p>
              </dd>
            </div>
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Finance and operations
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">No finance and operations information provided</p>
              </dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>

    <div class="govuk-button-group">
      <a href="application-task-list" class="govuk-button">
        Continue to application task list
      </a>
    </div>

  </div>
</div>

{% endblock %} 