{% extends "layouts/main.html" %}

{% set pageName="Incoming trust" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to Application task list",
    href: "application-task-list",
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Incoming trust
    </h1>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Incoming trust</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="incoming-trust">
              Change<span class="govuk-visually-hidden"> incoming trust</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% if data['incoming-trust'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Incoming trust
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['incoming-trust'] }}</p>
              </dd>
            </div>
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Incoming trust
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">No incoming trust information provided</p>
              </dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>

    <div class="govuk-button-group">
      <a href="application-task-list" class="govuk-button">
        Continue to application task list
      </a>
    </div>

  </div>
</div>

{% endblock %} 