{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div id="wrapper" class="direction-ltr govuk-width-container">

        
  <div class="gem-c-contextual-breadcrumbs">
      <div class="govuk-!-display-none-print">
        
  
  
  <nav data-module="ga4-link-tracker" aria-label="Breadcrumb" class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-ga4-link-tracker-module-started="true">
    <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/education">Education, training and skills</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;3&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/education/running-and-managing-a-school">Running and managing a school</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;4&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/education/setting-up-or-changing-the-status-of-a-school">Setting up or changing the status of a school</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;5&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/education/set-up-or-convert-to-an-academy">Set up or convert to an academy</a>
          </li>
    </ol>
  </nav>
      </div>
  </div>
  
      
  
        
  <header aria-labelledby="manual-title" class="govuk-grid-row manuals-header govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
  
      
  <div id="manual-title" class="gem-c-heading  gem-c-heading--inverse govuk-!-margin-bottom-3">
  
    <h1 class="gem-c-heading__text govuk-heading-l">
      Convert to an academy: guide for schools 
  </h1>
  </div>
  
      <div data-module="metadata" class="gem-c-metadata gem-c-metadata--inverse" data-metadata-module-started="true">
    <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
        <dd class="gem-c-metadata__definition" data-module="gem-toggle" data-gem-toggle-module-started="true">
          <a class="govuk-link" href="/government/organisations/department-for-education">Department for Education</a>
  
        </dd>
        <dt class="gem-c-metadata__term">Published</dt>
        <dd class="gem-c-metadata__definition">26 November 2015</dd>
            <dt class="gem-c-metadata__term">Updated:</dt>
            <dd class="gem-c-metadata__definition" data-module="gem-toggle ga4-link-tracker" data-ga4-track-links-only="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;content history&quot;,&quot;section&quot;:&quot;Top&quot;}" data-gem-toggle-module-started="true" data-ga4-link-tracker-module-started="true">
              31 January 2025 - <a href="/guidance/convert-to-an-academy-information-for-schools/updates">See all updates</a>
  
            </dd>
    </dl>
  </div>
  
      <div class="in-manual-search">
        <form action="/search/all" data-module="ga4-form-tracker" data-ga4-form-no-answer-undefined="" data-ga4-form-include-text="" data-ga4-form="{&quot;event_name&quot;:&quot;search&quot;,&quot;type&quot;:&quot;content&quot;,&quot;section&quot;:&quot;Convert to an academy: guide for schools &quot;,&quot;action&quot;:&quot;search&quot;,&quot;url&quot;:&quot;/search/all&quot;}" data-ga4-form-tracker-module-started="true">
          <input type="hidden" name="manual[]" value="/guidance/convert-to-an-academy-information-for-schools">
          <div data-module="gem-toggle-input-class-on-focus" class="gem-c-search govuk-!-display-none-print gem-c-search--on-govuk-blue govuk-!-margin-bottom-6" data-gem-toggle-input-class-on-focus-module-started="true">
      <label for="search-main-b9bb9600" class="gem-c-search__label">Search this manual</label>
    <div class="gem-c-search__item-wrapper">
      <div class="js-search-input-wrapper">
        <input enterkeyhint="search" class="gem-c-search__item gem-c-search__input js-class-toggle" id="search-main-b9bb9600" name="q" title="Search" type="search" value="">
      </div>
      <div class="gem-c-search__item gem-c-search__submit-wrapper">
        <button class="gem-c-search__submit" type="submit" enterkeyhint="search">
          Search
          
  <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
    <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
    <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
  </svg>
  </button>    </div>
    </div>
  </div>
  </form>    </div>
    </div>
  </header>
  
  
      <main role="main" id="content" class="manual govuk-main-wrapper" lang="en">
        <span id="Top"></span>
          <div id="manuals-frontend" class="manuals-frontend-body">
  
      
  
  
  
  
  
  
  
  
  
  
    
  
  
      <div class="manual-body">
          
  <div class="gem-c-heading govuk-!-margin-bottom-4">
  
    <h2 class="gem-c-heading__text gem-c-heading--font-size-27">
      Summary
  </h2>
  </div>
            <p class="gem-c-lead-paragraph">
      How maintained schools can apply to convert to academy status.
  </p>
          <div data-module="govspeak" class="gem-c-govspeak govuk-govspeak govuk-!-margin-bottom-0" data-govspeak-module-started="true">
      
            <p>If you are the headteacher or chair of governors of a local-authority-maintained school converting to an academy, you must complete the following steps.</p>
  
  
  </div>
        
  <div class="gem-c-heading govuk-!-margin-bottom-4">
  
    <h2 class="gem-c-heading__text gem-c-heading--font-size-27">
      Contents
  </h2>
  </div>
  
        
        <ul data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;document list&quot;}" class="gem-c-document-list govuk-!-margin-bottom-5" data-ga4-link-tracker-module-started="true">
        <li class="gem-c-document-list__item  ">
  
          <div class="gem-c-document-list__item-title">          <a class="  govuk-link gem-c-force-print-link-styles " href="/guidance/convert-to-an-academy-information-for-schools/1-before-you-apply">1. Before you apply</a>
  </div>
  
            <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">How to prepare for your school's application to convert to an academy.</p>
  
  
  
        </li>
        <li class="gem-c-document-list__item  ">
  
          <div class="gem-c-document-list__item-title">          <a class="  govuk-link gem-c-force-print-link-styles " href="/guidance/convert-to-an-academy-information-for-schools/2-apply-to-convert">2. Apply to become an academy</a>
  </div>
  
            <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">Links to the apply to become an academy service for mainstream schools, the application process for special schools and PRUs, and information about notifying your local authority.</p>
  
  
  
        </li>
        <li class="gem-c-document-list__item  ">
  
          <div class="gem-c-document-list__item-title">          <a class="  govuk-link gem-c-force-print-link-styles " href="/guidance/convert-to-an-academy-information-for-schools/3-set-up-or-join-an-academy-trust">3. Set up or join an academy trust</a>
  </div>
  
            <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">What actions to take following approval of your academy conversion application. </p>
  
  
  
        </li>
        <li class="gem-c-document-list__item  ">
  
          <div class="gem-c-document-list__item-title">          <a class="  govuk-link gem-c-force-print-link-styles " href="/guidance/convert-to-an-academy-information-for-schools/4-transfer-responsibilities-to-the-academy-trust">4. Transfer responsibilities to the academy trust</a>
  </div>
  
            <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">What responsibilities you should transfer to your academy trust as part of your school's conversion to academy status. </p>
  
  
  
        </li>
        <li class="gem-c-document-list__item  ">
  
          <div class="gem-c-document-list__item-title">          <a class="  govuk-link gem-c-force-print-link-styles " href="/guidance/convert-to-an-academy-information-for-schools/5-prepare-to-reopen-as-an-academy">5. Prepare to open as an academy</a>
  </div>
  
            <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">What final preparations you should complete before your school can open as an academy. </p>
  
  
  
        </li>
        <li class="gem-c-document-list__item  ">
  
          <div class="gem-c-document-list__item-title">          <a class="  govuk-link gem-c-force-print-link-styles " href="/guidance/convert-to-an-academy-information-for-schools/6-reopen-as-an-academy">6. Open as an academy</a>
  </div>
  
            <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">What actions you should take in the first few months after your school opens as an academy. </p>
  
  
  
        </li>
  </ul>
  
  
        <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-3">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
  </div>
      </div>
    </div>
  
      </main>
    </div>
{% endblock %}
