{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div id="wrapper" class="direction-ltr govuk-width-container">

        
  <div class="gem-c-contextual-breadcrumbs">
      <div class="govuk-!-display-none-print">
        
  
  
  <nav data-module="ga4-link-tracker" aria-label="Breadcrumb" class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-ga4-link-tracker-module-started="true">
    <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/education">Education, training and skills</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;3&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/education/running-and-managing-a-school">Running and managing a school</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;4&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/education/setting-up-or-changing-the-status-of-a-school">Setting up or changing the status of a school</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index_link&quot;:&quot;5&quot;,&quot;index_total&quot;:&quot;5&quot;}" class="govuk-breadcrumbs__link" href="/government/publications/academy-transfers-information-for-academy-trusts">Academy transfers: information for academy trusts</a>
          </li>
    </ol>
  </nav>
      </div>
  </div>
  
      
  
      
  
      <main role="main" id="content" class="html-publication " lang="en">
        <span id="Top"></span>
            
  
    <div class="publication-external">
      <ul class="organisation-logos">
          <li class="organisation-logos__logo">
            
  <div class="gem-c-organisation-logo brand--department-for-education">
      <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/department-for-education">
        <span class="gem-c-organisation-logo__name">Department <br>for Education</span>
  </a>
  </div>
          </li>
      </ul>
    </div>
  
    <header class="gem-c-inverse-header govuk-!-padding-top-6 govuk-!-padding-bottom-6">
      
    
  <div class="gem-c-heading  gem-c-heading--inverse govuk-!-margin-bottom-0">
        <span class="govuk-caption-xl gem-c-heading__context">
      Guidance
    </span>
  
  
    <h1 class="gem-c-heading__text govuk-heading-xl">
      Information note for academy trusts about academy transfer
  </h1>
  </div>
  
      <p class="gem-c-inverse-header__subtext">Updated 22 December 2022</p>
  </header>
  
    
    <section data-ga4-devolved-nations-banner="England" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;devolved nations banner&quot;,&quot;section&quot;:&quot;Applies to England&quot;,&quot;index_total&quot;:0}" class="gem-c-devolved-nations" data-ga4-link-tracker-module-started="true">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
        Applies to England
  </h2>
  </section>
  
  <div id="contents">
    <div class="govuk-grid-row gem-print-columns-none">
        <div class="govuk-grid-column-one-quarter contents-list-container">
            <nav data-module="ga4-link-tracker" aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
              <h2 class="gem-c-contents-list__title">Contents</h2>
              <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
                    <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                    <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles govuk-link--no-underline" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:5,&quot;index_link&quot;:1}" href="#academy-transfer">Academy transfer</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
                    <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                    <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles govuk-link--no-underline" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:5,&quot;index_link&quot;:2}" href="#transfer-process">Transfer process</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
                    <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                    <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles govuk-link--no-underline" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:5,&quot;index_link&quot;:3}" href="#regional-director-rd-approval">Regional director (RD) approval</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
                    <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                    <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles govuk-link--no-underline" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:5,&quot;index_link&quot;:4}" href="#due-diligence">Due diligence</a>
                  </li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
                    <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
                    <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles govuk-link--no-underline" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:5,&quot;index_link&quot;:5}" href="#delivery">Delivery</a>
                  </li>
              </ol>
            </nav>
    
            <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-6">
              <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
            </div>
        </div>
        
        <!--
        <div class="print-wrapper">
          <div class="meta-data meta-data--display-print">
            <p>
              <img class="meta-data-licence" src="/assets/government-frontend/open-government-licence-min-93b6a51b518ff99714a1aa2a7d2162735c155ec3cb073c75fb88b2a332fa83d3.png">
            </p>
            <p>
              © Crown copyright 2022
            </p>
            <p>
              This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gov.uk">psi@nationalarchives.gov.uk</a>.
            </p>
            <p>
              Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
            </p>
            <p>
              This publication is available at https://www.gov.uk/government/publications/academy-transfers-information-for-academy-trusts/information-note-for-academy-trusts-about-academy-transfer
            </p>
          </div>
        </div>
        -->
  
        <div class="govuk-grid-column-three-quarters contents-container">
          <div class="gem-c-govspeak-html-publication">
            <div data-module="govspeak" class="gem-c-govspeak govuk-govspeak gem-c-govspeak--direction-ltr govuk-!-margin-bottom-0" data-govspeak-module-started="true">
      
      
              <div class="govspeak">
  <div class="call-to-action">
    <p>This note is designed to provide information for academy trusts involved in an academy transfer or trust closure. It does not constitute legal advice and trusts should seek independent legal advice where needed.</p>
  </div>
  
  <h2 id="academy-transfer">Academy transfer</h2>
  
  <p>An academy transfer is when an academy moves from its current trust (‘the outgoing trust’) to another trust (‘the incoming trust’). A transfer can only happen with the agreement of the regional director (<abbr title="regional director">RD</abbr>) acting on behalf of the Secretary of State for Education. There is a range of reasons for 
  academy transfer:</p>
  
  <ul>
    <li>transfer initiated by the outgoing trust – most academies that transfer between trusts do so based on a decision by the outgoing trust<sup id="fnref:1"><a href="#fn:1" class="govuk-link" rel="footnote" role="doc-noteref">[footnote 1]</a></sup>. This might be to ensure stronger school-to-school support or economies of scale, for example a single academy trust (<abbr title="single academy trust">SAT</abbr>) joining a multi-academy trust (<abbr title="multi-academy trust">MAT</abbr>). It might also be for strategic reasons, for example academies moving to MATs that are closer geographically</li>
    <li>intervention – a small number of academies transfer each year due to intervention following, for example, an Ofsted Inadequate judgement<sup id="fnref:2"><a href="#fn:2" class="govuk-link" rel="footnote" role="doc-noteref">[footnote 2]</a></sup>. In such cases, or where there are financial, governance or safeguarding failures, <abbr title="regional directors">RDs</abbr> and the Education and Skills Funding Agency (<abbr title="Education and Skills Funding Agency">ESFA</abbr>) have the power to terminate funding agreements and transfer the academy into a new trust</li>
    <li>trust closure – in the rare event that a trust closes, academies in the closing trust must be transferred to a new trust as part of the closure. Academies within a closing trust must be transferred even if they themselves are not otherwise eligible for intervention</li>
  </ul>

  <div class="govuk-inset-text">
    Trusts can complete an online application to request academy transfers to another trust: <a href="https://external-applications-0c3afd1bd5f8.herokuapp.com/alpha-sprint-7/landing-page" target="_blank">transfer academies to another trust</a>.
  </div>
  
  <p>Academy transfer remains rare. In the financial year 2021 to 2022, only 176 of the 9,900 academies moved trust. This is just 1.8% of all academies. Of these, only 14% of academies that moved trust that year were due to intervention (<a href="https://www.gov.uk/government/statistics/academy-transfers-and-funding-2021-to-2022" class="govuk-link">source: Academy transfers and funding 2021 to 2022 statistics</a>).</p>
  
  <p><abbr title="regional directors">RDs</abbr> will act swiftly and robustly where there is failure in an academy. <abbr title="regional directors">RDs</abbr> will assess each academy’s circumstances, and the capacity of the trust, in order to decide whether an academy transfer is appropriate to bring about the necessary level of improvement and ensure the highest quality education for pupils.</p>
  
  <h2 id="transfer-process">Transfer process</h2>
  
  <p>Academy transfers are approved by <abbr title="regional directors">RDs</abbr>. Prior to approval, the case will be discussed at the regional <a href="https://www.gov.uk/government/collections/advisory-boards" class="govuk-link">advisory board</a> which is an advisory body comprising members with local knowledge, expertise and experience, who are responsible for advising and challenging <abbr title="regional directors">RDs</abbr> on academy-related decisions. Following a discussion of the case at an advisory board, the <abbr title="regional director">RD</abbr> will usually decide whether to approve the incoming trust at the meeting but the <abbr title="regional director">RD</abbr> may do so after it.</p>
  
  <p>From the point the <abbr title="regional director">RD</abbr> approves a transfer in principle, the aspiration is for the transfer process to be completed within 6 months in straightforward cases. More complex cases may take longer. Delivery officers in the Department for Education (<abbr title="Department for Education">DfE</abbr>) are responsible for driving the process forward and supporting trusts to meet their obligations. Trusts should expect to work closely and openly with both the department and each other until the process is completed.</p>
  
  <h2 id="regional-director-rd-approval">Regional director (<abbr title="regional director">RD</abbr>) approval</h2>
  
  <p>For the majority of transfers initiated by the outgoing trust, for example where there is one identified incoming trust and no sponsorship issues, <abbr title="regional director">RD</abbr> approval will typically be straightforward.</p>
  
  <p>In intervention cases, the department will consider potential incoming trusts. <abbr title="regional directors">RDs</abbr> reach a decision about the preferred incoming trust by considering a number of factors, including a strong track record of school improvement, governance and finance, and evidence of how the trust would support the academy in question and capacity to do so. In some cases an expression of interest process may be used. Again, this would depend on the circumstances of the individual case. The case would then be discussed at an advisory board prior to <abbr title="regional director">RD</abbr> approval.</p>
  
  <p>The proposed transfer and the name of the incoming trust will be announced in the advisory board agenda.</p>
  
  <p>Following <abbr title="regional director">RD</abbr> approval of the incoming trust, the incoming trust is expected to engage stakeholders. <abbr title="Department for Education">DfE</abbr> delivery officers can advise on how to do this.</p>
  
  <p>Both the outgoing and incoming trusts will be sent their respective trust agreements (sample agreements are attached at annexes A and B) by the <abbr title="Department for Education">DfE</abbr> delivery officer. These documents outline what trusts are expected to do throughout the academy transfer process. After signing and returning their trust agreements, trusts are then responsible for working together to manage the commercial and legal implications of the transfer, to a timeline agreed with the department. Final approval to transfer will be given by the department once these elements have been finalised and trusts will sign various documents to complete the transfer.</p>
  
  <p>Where the incoming trust will provide school improvement support to the transferring academy before the transfer, it is advisable that an agreement is prepared ahead of any such support so that both parties are clear about the expectations of the scope of the school improvement work and how any payments will be made. A recommended service level agreement is attached at annex C. This should be adapted to meet the particular needs of the transfer.</p>
  
  <h2 id="due-diligence">Due diligence</h2>
  
  <p>Due diligence should be undertaken by the incoming trust to understand the academy’s position. The outgoing trust must cooperate and provide all the information requested. The extent of due diligence is determined by the incoming trust. This may vary on a case by case basis, but it will usually include assessment of education provision, pupil population, finances, staffing, governance and the school buildings and estate. The incoming trust must fully assure itself that sufficient due diligence has been carried out, confirming to the department that due diligence has been completed and that the trust is aware of any ongoing issues ahead of transferring.</p>
  
  <p>Best practice <a href="https://www.gov.uk/government/publications/due-diligence-in-academies-and-maintained-schools" class="govuk-link">guidance on undertaking due diligence is available</a>. For intervention cases the expectation is due diligence should take around 1 month.</p>
  
  <p>Grant funding for transfers is by exception and is normally provided only in intervention cases. In such cases, the department will then agree an appropriate level of funding for the incoming trust to facilitate an efficient transfer<sup id="fnref:3"><a href="#fn:3" class="govuk-link" rel="footnote" role="doc-noteref">[footnote 3]</a></sup>.</p>
  
  <p>Trusts should be aware of the financial liabilities involved in the academy transfer process. The <a href="https://www.gov.uk/government/publications/academy-transfers-information-for-academy-trusts" class="govuk-link">information note for trusts on finances and liabilities</a> sets out the risks in more detail. It is important that trusts give due attention to this note to fully understand the potential impact on their transfer and understand the guidelines in which they must operate.</p>
  
  <p>The incoming trust must then sign and return the negotiating offer closure letter (a sample is attached at annex D) once all funding has been agreed. The purpose of this letter is to summarise in one place all the funding the trust will receive and to agree a transfer date. It will be sent in addition to the individual grant offers which set out the conditions of each grant.</p>
  
  <h2 id="delivery">Delivery</h2>
  
  <p>Trusts should address several things in the delivery phase (after the <abbr title="regional director">RD</abbr>’s decision) before completing the transfer. These include the incoming trust engaging stakeholders and producing legal documents.</p>
  
  <p>Stakeholder engagement is an opportunity for:</p>
  
  <ul>
    <li>the incoming and outgoing trusts to explain more about the transfer, listen to questions and address any issues</li>
    <li>the incoming trust to meet with parents, teachers and the local community and set out its plans for the school. If relevant, this should include how the plans will support the school to improve</li>
  </ul>
  
  <p>Trusts need to produce legal documents for review and clearance by the <abbr title="Department for Education">DfE</abbr> delivery officer. The outgoing and incoming trusts  need to agree and sign these. The delivery officer will set deadlines on a case by case basis. Trusts need to meet these deadlines  for the transfer to happen on the planned date.</p>
  
  <h3 id="working-with-solicitors">Working with solicitors</h3>
  
  <p>Trusts are responsible for ensuring these actions take place but may wish to ask solicitors to prepare the documents on their behalf. If this is the case, trusts should ensure they understand the process and timelines and relay this to their solicitors. Trusts should provide their delivery officer with regular progress updates and ask if they are unsure about timelines or have any further questions.</p>
  
  <p>The key documents and actions that make up the delivery phase are:</p>
  
  <h3 id="funding-agreement">Funding agreement</h3>
  
  <p>The funding agreement (<abbr title="funding agreement">FA</abbr>) provides the framework for an academy or free school to operate in. In the case of academy transfers, our preferred route for the legal transfer is novation and variation to move from the existing funding agreement documents to the new model versions. The deed of novation and variation enable the academy’s existing <abbr title="funding agreement">FA</abbr> to transfer from the outgoing to incoming trust.</p>
  
  <p>All academies that transfer must use the latest version of the model <abbr title="funding agreement">FA</abbr>.  Where the incoming trust has a master funding agreement earlier than the latest model version, the delivery officer will ask the trust to adopt the latest model as part of the transfer process.</p>
  
  <p>See the latest model master and supplemental funding agreement documents on the <a href="https://www.gov.uk/government/collections/convert-to-an-academy-documents-for-schools" class="govuk-link">convert to academy: documents for schools</a> page.</p>
  
  <p>The deed of novation and variation will need to be drafted by the incoming trust and agreed with the outgoing trust and the department, as both trusts and the department will need to sign this document to finalise the transfer. Draft documents should be sent to the delivery officer to clear before being signed.</p>
  
  <h3 id="commercial-transfer-agreement">Commercial transfer agreement</h3>
  
  <p>The commercial transfer agreement (<abbr title="commercial transfer agreement">CTA</abbr>) is used to transfer assets and liabilities (including contracts and staff) from one academy trust to another. It needs to be agreed by both the incoming and outgoing trusts. A final draft of the agreement should be shared with the delivery officer before being signed by both trusts. Trusts should contact their <abbr title="Department for Education">DfE</abbr> delivery officer for a copy of the <abbr title="commercial transfer agreement">CTA</abbr> used in transfer cases.</p>
  
  <h3 id="transfer-of-undertakings-protection-of-employment-regulations-2006">Transfer of Undertakings (Protection of Employment) Regulations 2006</h3>
  
  <p>Transfer of Undertakings (Protection of Employment) Regulations 2006 (<abbr title="Transfer of Undertakings (Protection of Employment) Regulations 2006">TUPE</abbr>) allows staff to automatically transfer their terms and conditions from the outgoing to incoming trust. The incoming trust will need to work with the outgoing trust on the <abbr title="Transfer of Undertakings (Protection of Employment) Regulations 2006">TUPE</abbr> consultation. Trusts will need to confirm to the department that the <abbr title="Transfer of Undertakings (Protection of Employment) Regulations 2006">TUPE</abbr> consultation has taken place and staff have been <abbr title="Transfer of Undertakings (Protection of Employment) Regulations 2006">TUPE</abbr>’d across to the new trust.</p>
  
  <h3 id="private-finance-initiative-pfi-contract">Private finance initiative (<abbr title="private finance initiative">PFI</abbr>) contract</h3>
  
  <p>Where there is a <abbr title="private finance initiative">PFI</abbr> contract in place, this will need to be transferred to the incoming trust. These should be novated to the new trust on the existing terms.</p>
  
  <h3 id="land-transfer">Land transfer</h3>
  
  <p>Before an academy can transfer, the outgoing trust will need to seek the Secretary of State’s consent to dispose of the land or lease to allow it to move to the new trust. To do this, the outgoing trust will need to complete <a href="https://www.gov.uk/guidance/submit-a-school-land-transaction-proposal#application-forms-for-school-land-transactions" class="govuk-link">form M - academy land transfers</a>.</p>
  
  <h3 id="payment-information--bank-details">Payment information – bank details</h3>
  
  <p>To ensure that funding is paid to the incoming trust on time, accurately and securely, the department needs confirmation of the incoming trust’s bank details. The form to <a href="https://www.gov.uk/government/publications/academy-bank-details-form" class="govuk-link">provide information about your banking and payments to <abbr title="Department for Education">DfE</abbr></a> should be used to do this.</p>
  
  <p>If the department does not receive the completed form before the deadline (as set by the delivery officer), it will result in a delay to the incoming trust receiving funding.</p>
  
  <h3 id="insurance">Insurance</h3>
  
  <p>The trusts must confirm that the benefit of any insurance policies has been passed to the incoming trust. This includes confirming that the insurer was properly notified of any risk exposure. If not already members, trusts may want to consider the department’s <a href="https://www.gov.uk/guidance/academies-risk-protection-arrangement-rpa" class="govuk-link">risk protection arrangement (<abbr title="risk protection arrangement">RPA</abbr>)</a> instead of commercial insurance.</p>
  
  <h3 id="general-annual-grant-gag-payment">General annual grant (<abbr title="general annual grant">GAG</abbr>) payment</h3>
  
  <p>Trusts need to be aware that in the planned month of the trust transfer, they will receive the <abbr title="general annual grant">GAG</abbr> payment on the sixth working day of the month unless other arrangements have been made.</p>
  
  <div class="footnotes" role="doc-endnotes">
    <ol>
      <li id="fn:1">
        <p>Individual academies that are part of a <abbr title="multi-academy trust">MAT</abbr> can only do this with the agreement of the <abbr title="multi-academy trust">MAT</abbr>.&nbsp;<a href="#fnref:1" class="govuk-link" role="doc-backlink" aria-label="go to where this is referenced">↩</a></p>
      </li>
      <li id="fn:2">
        <p>See <a href="https://www.gov.uk/government/publications/schools-causing-concern--2" class="govuk-link">schools causing concern guidance</a> for how <abbr title="regional directors">RDs</abbr> intervene in inadequate academies.&nbsp;<a href="#fnref:2" class="govuk-link" role="doc-backlink" aria-label="go to where this is referenced">↩</a></p>
      </li>
      <li id="fn:3">
        <p>Information about indicative grant funding levels can be found within the technical section of <a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/726556/Academy_Transfers_and_Funding_2017_to_2018_Text.pdf" class="govuk-link">Academy transfers and funding in England (PDF, 488KB)</a>.&nbsp;<a href="#fnref:3" class="govuk-link" role="doc-backlink" aria-label="go to where this is referenced">↩</a></p>
      </li>
    </ol>
  </div>
  </div>
  
  
  </div>
  </div>
      </div>
    </div>
  
    <div class="govuk-grid-row">
      <a class="govuk-link app-c-back-to-top govuk-!-display-none-print" href="#contents">
      <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>
      Back to top
  </a>
  
    </div>
  </div>
  
  
      </main>
    </div>
{% endblock %}
