{% extends "layouts/main.html" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Invite contributors" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "application-task-list?ref=" + data.application.reference,
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    {% if success %}
      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          {{ removedAcademy }} has been removed
        </h3>
      {% endset %}

      {{ govukNotificationBanner({
        type: "success",
        html: html
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" id="invite-contributors">
      Invite contributors
    </h1>

    <div class="govuk-button-group">
      <a href="contributor-invite" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add a contributor
      </a>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
      Current contributors
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Email address</th>
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for contributor in data.contributors %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ contributor.email }}</td>
          <td class="govuk-table__cell">{{ contributor.name }}</td>
          <td class="govuk-table__cell">
            <a href="#" class="govuk-link">Remove</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %} 