{% extends "layouts/main.html" %}

{% set pageName="Tell us about the trust's plans to fill gaps in skills and expertise" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <form action="governance-structure" method="post">

        {{ govukCharacterCount({
          label: {
            html: '<span class="govuk-caption-l">Governance structure</span>
            Tell us about the trust\'s plans to fill gaps in skills and expertise',
            classes: "govuk-label--l",
            isPageHeading: true
          },
          maxlength: 4000,
          id: "governance-team-explanation",
          name: "governance-team-explanation",
          value: data["governance-team-explanation"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
  </div>
</div>

{% endblock %} 