{% extends "layouts/main.html" %}

{% set pageName="How will the transferring academies help maintain and improve existing academies in the trust" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <form action="reason-and-benefits-academies-maintain-improve-handler" method="post">

        {{ govukCharacterCount({
          label: {
            html: '<span class="govuk-caption-l">Reason and benefits</span>
            How will the transferring academies help maintain and improve existing academies in the trust?',
            classes: "govuk-label--l",
            isPageHeading: true
          },
          maxlength: 4000,
          id: "reason-and-benefits-academies-maintain-improve",
          name: "reason-and-benefits-academies-maintain-improve",
          value: data["reason-and-benefits-academies-maintain-improve"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
  </div>
</div>

{% endblock %} 