{% extends "layouts/main.html" %}

{% set pageName="Your application" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    <a href="dashboard-2" class="govuk-back-link govuk-!-margin-bottom-9">Back to dashboard</a>

    <!-- Notification banner
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Contributor invite sent
        </h3>
        <p class="govuk-body">
          Contributor invite is sent to <strong>ady.horan@education.gov.uk</strong> and <strong>kimberley.frame@education.gov.uk</strong>.
        </p>
      </div>
    </div>
     -->  

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Your application 
    </h1>

    <div class="govuk-inset-text govuk-!-margin-bottom-9">
      <p>
        Application reference: <strong>{{ data.application.reference }}</strong>
      </p>
      <p>
        Lead applicant: <strong>{{ data.application.leadApplicant }}</strong>
      </p>
    </div>

    <h2 class="govuk-heading-m">About the academies and trusts</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="academies-to-transfer-summary" aria-describedby="basic-information-academies-status">
            Academies to transfer
          </a>
          <div id="task-1-hint" class="govuk-task-list__hint">
            <span class="hint-name"><strong>{% if data.taskOwners.academies.name %}Assigned to: {{ data.taskOwners.academies.name }}{% else %}Not assigned yet{% endif %}</strong></span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="basic-information-academies-status">
          {% if data['academies-to-transfer-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="incoming-trust-summary" aria-describedby="basic-information-incoming-trust-status">
            Incoming trust
          </a>
          <div id="task-2-hint" class="govuk-task-list__hint">
            <span class="hint-name"><strong>{% if data.taskOwners.incomingTrust.name %}Assigned to: {{ data.taskOwners.incomingTrust.name }}{% else %}Not assigned yet{% endif %}</strong></span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="basic-information-incoming-trust-status">
          {% if data['incoming-trust-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-2-status">
            Members
          </a>
          <div id="task-3-hint" class="govuk-task-list__hint">
            <span class="hint-name"><strong>Not assigned yet</strong></span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-3-status">
            Trustees
          </a>
          <div id="task-4-hint" class="govuk-task-list__hint">
            <span class="hint-name"><strong>Not assigned yet</strong></span>
            </div>
        </div>
        <div class="govuk-task-list__status" id="prepare-application-3-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="finance-summary" aria-describedby="prepare-application-1-status">
            Finance
          </a>
          <div id="task-1-hint" class="govuk-task-list__hint">
            <span class="hint-name"><strong>{% if data.taskOwners.finance.name %}Assigned to: {{ data.taskOwners.finance.name }}{% else %}Not assigned yet{% endif %}</strong></span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="prepare-application-1-status">
          {% if data['finance-status'] %}
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          {% endif %}
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-6-status">
            Consent and consultations
          </a>
          <div id="task-6-hint" class="govuk-task-list__hint">
            <span class="hint-name"><strong>Not assigned yet</strong></span>
          </div>
        </div>
        <div class="govuk-task-list__status" id="prepare-application-6-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Rationale and governance</h2>

  <ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-5-status">
          Rationale
        </a>
        <div id="task-7-hint" class="govuk-task-list__hint">
          <span class="hint-name"><strong>Not assigned yet</strong></span>
        </div>
      </div>
      <div class="govuk-task-list__status" id="prepare-application-5-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-4-status">
          Governance and structure
        </a>
        <div id="task-8-hint" class="govuk-task-list__hint">
          <span class="hint-name"><strong>Not assigned yet</strong></span>
        </div>
      </div>
      <div class="govuk-task-list__status" id="prepare-application-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    </li>
  </ul>

  <h2 class="govuk-heading-m">Declaration</h2>

  <ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-7-status">
          Declaration from academy trust chair
        </a>
        <div id="task-9-hint" class="govuk-task-list__hint">
          <span class="hint-name"><strong>Not assigned yet</strong></span>
        </div>
      </div>
      <div class="govuk-task-list__status" id="prepare-application-4-status">
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      </div>
    </li>
  </ul>

    <div class="govuk-button-group">
      <form action="check-your-answers" method="post">
        <button class="govuk-button" type="submit">Preview application</button>
      </form>
    </div>
    
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6"></div>
</div>

{% endblock %}
