{% extends "layouts/main.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageName="Update task owner" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "application-task-list?ref=" + data.application.reference
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if task == 'academies' %}
      <span class="govuk-caption-l">Academies to transfer</span>
    {% elif task == 'incomingTrust' %}
      <span class="govuk-caption-l">Incoming trust</span>
    {% elif task == 'finance' %}
      <span class="govuk-caption-l">Finance</span>
    {% endif %}

    <h1 class="govuk-heading-xl">
      Update task owner
    </h1>

    <form action="task-owner-update-handler?task={{ task }}" method="post">
      {{ govukCheckboxes({
        name: "task-owner",
        fieldset: {
          legend: {
            text: "Select task owners",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: checkboxItems,
        values: currentTaskOwnerEmails
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %} 