{% extends "layouts/main.html" %}

{% set pageName="Add academy" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <form class="form" action="add-more-academies-handler" method="post">
      {% set selectedAcademy = data['selected-academy'].split('|||') %}
      {% set academyName = selectedAcademy[0] %}
      {% set academyUrn = selectedAcademy[1] %}

      {{ govukRadios({
        idPrefix: "confirm-academy",
        name: "confirm-academy",
        fieldset: {
          legend: {
            html: '<span class="govuk-caption-l">Stage 1 - academies to transfer</span>
            Add ' + academyName + ' to your application',
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        },
        hint: {
          text: "This academy will be added to your application"
        },
        items: [
          {
            value: "yes",
            text: "Yes, add this academy"
          },
          {
            value: "no",
            text: "No, do not add this academy"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    
  </div>
</div>

{% endblock %} 