{% extends "layouts/main.html" %}

{% block pageTitle %}
Transfer academies from one trust to another
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Wildlife, animals, biodiversity and ecosystems",
        href: "#"
      },
      {
        text: "Biodiversity and ecosystems",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Transfer academies from one trust to another</h1>

      <p class="govuk-body-l" style="margin-bottom: 30px;">An applications service for single and multi-academy trusts (SATs and MATs) wanting to transfer academies to another trust.</p>

      <p class="govuk-body" style="margin-bottom: 30px;">From: <a href="#" class="govuk-link">Animal and Plant Health Agency</a> and <a href="#" class="govuk-link">Department for Environment, Food & Rural Affairs</a></p>

      <div class="govuk-metadata" style="margin-bottom: 30px; color: #505a5f; font-size: 16px;">
        <dl style="margin: 0; padding: 0;">
          <dt style="display: inline; margin-right: 5px;">Published:</dt>
          <dd style="display: inline; margin: 0;">1 January 2013</dd>
          <dt style="display: inline; margin-left: 20px; margin-right: 5px;">Last updated:</dt>
          <dd style="display: inline; margin: 0;">14 March 2025</dd>
        </dl>
      </div>

      <h2 class="govuk-heading-m" style="margin-bottom: 20px;">Contents</h2>
      <ul class="govuk-list govuk-list--dash" style="margin-bottom: 30px;">
        <li><a href="#what-this-application-is-for" class="govuk-link">What this application is for</a></li>
        <li><a href="#how-to-apply" class="govuk-link">How to apply</a></li>
        <li><a href="#what-happens-after-you-apply" class="govuk-link">What happens after you apply </a></li>
        <li><a href="#get-help-with-your-application" class="govuk-link">Get help with your application</a></li>

      </ul>

      <h2 id="what-this-application-is-for" class="govuk-heading-m" style="margin-bottom: 20px;">What this application is for</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">You should:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>use Species+ to check if your specimen comes from a species on the CITES list</li>
        <li>apply for an import, export or re-export permit using the apply for a CITES permit service – this new digital service replaces CITES forms</li>
      </ul>
      <p class="govuk-body" style="margin-bottom: 15px;">As part of your application, find the trade term code.</p>
      <p class="govuk-body" style="margin-bottom: 15px;">You must get a permit for any species listed on annex A, B or C in Species+.</p>
      <p class="govuk-body" style="margin-bottom: 30px;">You can only import specimens of annex A species in exceptional circumstances. This is to avoid endangering the species further. Contact the APHA team for endangered plant and animal species for more detailed advice if you want to import a specimen of an annex A species.</p>

      <h2 id="how-to-apply" class="govuk-heading-m" style="margin-bottom: 20px;">How to apply</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">You can apply to import annex C specimens. To do this you'll need to get an import notification form by emailing APHA at wildlife.licensing@apha.gov.uk or phoning 03000 200 301.</p>

      <h3 class="govuk-heading-s" style="margin-bottom: 15px;">Commercial use</h3>
      <p class="govuk-body" style="margin-bottom: 15px;">If you plan to use any specimen listed by CITES in annex A for commercial purposes, you must get a commercial use certificate (known as an Article 10 certificate).</p>
      <p class="govuk-body" style="margin-bottom: 30px;">If you're importing an annex A specimen to sell it, you may be able to get a permit that can be used instead of an Article 10 certificate. Please contact APHA for more information by emailing wildlife.licensing@apha.gov.uk.</p>

      <h3 class="govuk-heading-s" style="margin-bottom: 15px;">Musical instruments, museums, art exhibitions and touring displays</h3>
      <p class="govuk-body" style="margin-bottom: 15px;">In some cases, you may need to move CITES specimens across international borders several times. For example, endangered species or specimens that are part of a:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 15px;">
        <li>touring orchestra</li>
        <li>museum exhibit</li>
        <li>art exhibition</li>
        <li>touring display or circus</li>
      </ul>
      <p class="govuk-body" style="margin-bottom: 30px;">If you're travelling with your instrument as part of a touring orchestra, you must use the apply for a CITES permit service for each instrument containing CITES listed specimens. You do not have to pay for a musical instrument certificate.</p>

      <h3 class="govuk-heading-s" style="margin-bottom: 15px;">Ivory</h3>
      <p class="govuk-body" style="margin-bottom: 30px;">Read the guide on dealing in items containing ivory or made of ivory if you intend to trade or move ivory (teeth or tusks, and items made from them) from any of the following species:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>elephant</li>
        <li>common hippopotamus</li>
        <li>killer whale</li>
        <li>narwhal</li>
        <li>sperm whale</li>
      </ul>

      <h3 class="govuk-heading-s" style="margin-bottom: 15px;">Personal and household effects</h3>
      <p class="govuk-body" style="margin-bottom: 15px;">In some specific circumstances, you do not need CITES documentation to move personal and household items that contain a CITES specimen.</p>
      <p class="govuk-body" style="margin-bottom: 15px;">You do not need a CITES permit for the following items if they are carried in your personal luggage and intended for personal use (allowance is per person):</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>125 grams of caviar (Acipenseriformes spp), in containers that are individually marked in accordance with Article 66(6)</li>
        <li>3 rainsticks of Cactaceae spp</li>
        <li>4 worked items containing Crocodyllia spp (excluding meat and hunting trophies)</li>
        <li>3 shells of Queen conch (Strombus gigas)</li>
        <li>4 dead specimens of seahorse (Hippocampus spp)</li>
        <li>3 specimens of giant clam (Tridacnidae spp) not more than 3kg in total, where a specimen can be one intact shell or 2 matching halves</li>
        <li>up to 1kg woodchips, 24ml oil, and 2 sets of beads or prayer beads (or 2 necklaces or bracelets) of agarwood (Aquilaria and Gyrinops species)</li>
      </ul>

      <h2 id="what-happens-after-you-apply" class="govuk-heading-m" style="margin-bottom: 20px;">What happens after you apply</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">Until you have the correct CITES permit, you should not:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 15px;">
        <li>ship or travel with specimens</li>
        <li>make any payments for specimens</li>
        <li>enter into contracts over specimens</li>
      </ul>
      <p class="govuk-body" style="margin-bottom: 15px;">You must check:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>the requirements of the import or export country by contacting the CITES authority in that country</li>
        <li>if your specimen is subject to an import suspension (negative opinion)</li>
      </ul>

      <h2 id="get-help-with-your-application" class="govuk-heading-m" style="margin-bottom: 20px;">Get help with your application</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">APHA reviews each application individually and aims to process your application within 30 days. Your application may need to be reviewed by scientific advisers at either:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 15px;">
        <li>the Royal Botanical Garden, Kew – for plants</li>
        <li>the Joint Nature Conservation Committee (JNCC) – for animals</li>
      </ul>
      <p class="govuk-body" style="margin-bottom: 30px;">If your application is accepted, you'll get a printed, signed and stamped permit or certificate in the post. If your application is refused, APHA will send you a letter explaining why.</p>

      <h2 id="after-permit" class="govuk-heading-m" style="margin-bottom: 20px;">After you receive your permit</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">Once you have your permit, you should:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>check all details are correct</li>
        <li>make sure you have all required supporting documents</li>
        <li>contact the relevant authorities in the country you're importing to or exporting from</li>
      </ul>

      <h2 id="import-export" class="govuk-heading-m" style="margin-bottom: 20px;">Importing or exporting your species</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">When importing or exporting your species, you must:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>present your permit to customs officials</li>
        <li>ensure your specimens are properly packaged and labelled</li>
        <li>follow any specific requirements for the species you're moving</li>
      </ul>

      <h2 id="returned-goods" class="govuk-heading-m" style="margin-bottom: 20px;">Returned goods</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">If your CITES specimen has been exported from Great Britain but is rejected by the importing country, contact APHA at wildlife.licensing@apha.gov.uk to let them know it's been rejected. You'll need to get CITES documents to re-import the items into Great Britain. When contacting APHA, you need to supply:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>evidence that the specimen was legally exported from Great Britain</li>
        <li>the reason the importing country has rejected it</li>
      </ul>

      <h2 id="marking" class="govuk-heading-m" style="margin-bottom: 20px;">Marking specimens</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">You must mark specimens according to European regulation Article 66 of EC Reg 865/2006. The marking needed depends on what the specimen is.</p>
      <p class="govuk-body" style="margin-bottom: 15px;">Most live specimens must have one of the following:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>an International Organization for Standardization (ISO) compliant, uniquely numbered microchip</li>
        <li>a uniquely numbered, seamless closed ring for birds (check how to register and mark birds of prey)</li>
      </ul>

      <h2 id="help" class="govuk-heading-m" style="margin-bottom: 20px;">Get help</h2>
      <p class="govuk-body" style="margin-bottom: 30px;">If you need further advice or support with your application, contact APHA at wildlife.licensing@apha.gov.uk.</p>

    </div>
    <div class="govuk-grid-column-one-third">
      <div class="app-related-items" style="border-top: 2px solid #1d70b8; padding-top: 15px;">
        <h2 class="govuk-heading-s" style="margin-bottom: 15px;">Related content</h2>
        <ul class="govuk-list" style="margin-bottom: 0;">
          <li><a href="#" class="govuk-link">Commercial use of endangered species: check if you need an Article 10 CITES certificate</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %} 