{% extends "layouts/main.html" %}

{% block pageTitle %}
Transfer academies to another academy trust
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Education, training and skills",
        href: "#"
      },
      {
        text: "Running and managing a school",
        href: "#"
      },
      {
        text: "Setting up or changing the status of a school",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Transfer academies to another academy trust</h1>

      <p class="govuk-body-l" style="margin-bottom: 30px;">An application for single and multi-academy trusts (SATs and MATs) wanting to transfer academies to another trust.</p>

      <p class="govuk-body" style="margin-bottom: 30px;">From: <a href="#" class="govuk-link">Department for Education</a>.</p>

      <div class="govuk-metadata" style="margin-bottom: 30px; color: #505a5f; font-size: 16px;">
        <dl style="margin: 0; padding: 0;">
          <dt style="display: inline; margin-right: 5px;">Published:</dt>
          <dd style="display: inline; margin: 0;">1 January 2013</dd>
          <dt style="display: inline; margin-left: 20px; margin-right: 5px;">Last updated:</dt>
          <dd style="display: inline; margin: 0;">14 March 2025</dd>
        </dl>
      </div>

      <h2 class="govuk-heading-m" style="margin-bottom: 20px;">Contents</h2>
      <ul class="govuk-list govuk-list--dash" style="margin-bottom: 30px;">
        <li><a href="#what-this-application-is-for" class="govuk-link">What this application is for</a></li>
        <li><a href="#how-to-apply" class="govuk-link">How to apply</a></li>
        <li><a href="#what-happens-after-you-apply" class="govuk-link">What happens after you apply </a></li>
        <li><a href="#get-help-with-your-application" class="govuk-link">Get help with your application</a></li>

      </ul>

      <h2 id="what-this-application-is-for" class="govuk-heading-m" style="margin-bottom: 20px;">What this application is for</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">This application is for single and multi-academy trusts (SATs and MATs) wanting to transfer academies to another trust.</p>
      <p class="govuk-body" style="margin-bottom: 15px;">This includes:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>merging a SAT with a MAT</li>
        <li>moving academies from a MAT into another MAT</li>
        <li>merging a MAT with another MAT</li>
      </ul>

      <h3 class="govuk-heading-s" style="margin-bottom: 15px;">What this application is not for</h3>

      <p class="govuk-body" style="margin-bottom: 15px;">This application is <strong>not</strong> for:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 30px;">
        <li>MATs wanting to add schools that are not academies</li>
        <li>groups of local authority-maintained schools forming a MAT</li>
      </ul>

      <p>You will first need to <a href="https://www.gov.uk/government/publications/academy-conversion-application-forms">apply to convert maintained schools into academies</a>.</p>

      <h2 id="how-to-apply" class="govuk-heading-m" style="margin-bottom: 20px;">How to apply</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">Before submitting an application, you'll need:</p>

      <ul>
        <li>details about the new trust’s financial planning approach</li>
        <li>a diagram of your proposed MAT governance structure</li>
        <li>a resolution from the relevant academy trust board for the transfer</li>
      </ul>
      <p>Once you have these details, you can then <a href="https://external-applications-0c3afd1bd5f8.herokuapp.com/alpha-sprint-10/dashboard">apply to transfer academies to another academy trust</a>.</p>

      <h2 id="what-happens-after-you-apply" class="govuk-heading-m" style="margin-bottom: 20px;">What happens after you apply</h2>
      <p class="govuk-body" style="margin-bottom: 15px;">We will:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 15px;">
        <li>send you a confirmation email, with a reference number for your application</li>
        <li>contact you if we need any more information about the transfer</li>
        <li>review your application, and a Regional Director will make a decision on it</li>
      </ul>

      <h2 id="get-help-with-your-application" class="govuk-heading-m" style="margin-bottom: 20px;">Get help with your application</h2>
      <p class="govuk-body" style="margin-bottom: 15px;"> If you have any questions about your application, contact the academies team:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 15px;">
        <li>Email: <a class="govuk-link" href="mailto:academies.enquiry@education.gov.uk">academies.enquiry@education.gov.uk</a></li>
        <li>Telephone: 0800 000 000, Monday to Friday, 9am to 5pm (except public holidays)</li>
      </ul>

    </div>
  </div>
{% endblock %} 