{% extends "layouts/main.html" %}

{% set pageName="Your application" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your application</h1>
    
    {% if data['applications'] and data['applications'].length > 0 %}
      <p class="govuk-body-l">Reference number: {{ data['applications'][0].refNumber }}</p>
    {% endif %}

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Academies to transfer</h2>
        {% if not data['applications'] or data['applications'].length === 0 or data['applications'][0].status !== 'Submitted' %}
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" href="academies-to-transfer">
              Change<span class="govuk-visually-hidden"> academies to transfer</span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not data['academies-to-transfer'] or data['academies-to-transfer'].length === 0 %}
          <div class="govuk-inset-text">
            No academies have been selected.
          </div>
        {% else %}
          <dl class="govuk-summary-list">
            {% for academy in data['academies-to-transfer'] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Academy {{ loop.index }}
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{ academy.name }}</p>
                  <p class="govuk-body govuk-!-margin-bottom-0">URN: {{ academy.urn }}</p>
                </dd>
              </div>
            {% endfor %}
          </dl>
        {% endif %}
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Incoming trust</h2>
        {% if not data['applications'] or data['applications'].length === 0 or data['applications'][0].status !== 'Submitted' %}
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" href="incoming-trust-summary">
              Change<span class="govuk-visually-hidden"> incoming trust</span>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="govuk-summary-card__content">
        {% if not data['new-trust'] %}
          <div class="govuk-inset-text">
            No incoming trust information has been added.
          </div>
        {% else %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                New trust being formed
              </dt>
              <dd class="govuk-summary-list__value">
                {{ "Yes" if data['new-trust'] === 'yes' else "No" }}
              </dd>
            </div>

            {% if data['new-trust'] === 'yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Proposed trust name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['proposed-trust-name'] }}
              </dd>
            </div>
            {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred trust identified
              </dt>
              <dd class="govuk-summary-list__value">
                {{ "Yes" if data['preferred-trust'] === 'yes' else "No" }}
              </dd>
            </div>

            {% if data['preferred-trust'] === 'yes' and data['selected-trust'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Selected trust
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data.selectedTrust.name }}</p>
                <p class="govuk-body">Trust reference number: {{ data.selectedTrust.ref }}</p>
                <p class="govuk-body govuk-!-margin-bottom-0">Companies house number: {{ data.selectedTrust.companies }}</p>
              </dd>
            </div>
            {% endif %}
            {% endif %}
          </dl>
        {% endif %}
      </div>
    </div>

    {% if not data['applications'] or data['applications'].length === 0 or data['applications'][0].status !== 'Submitted' %}
      <h2 class="govuk-heading-m">Now submit your application</h2>
      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="application-complete" method="post">
        <button class="govuk-button" type="submit">Accept and submit application</button>
      </form>
    {% endif %}
  </div>
</div>

{% endblock %} 