{% extends "layouts/main.html" %}

{% set pageName="What steps will you take" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <form class="form" action="finance-summary" method="post">


        {{ govukCharacterCount({
          label: {
            html: '<span class="govuk-caption-l">Finance</span>
            What steps will you take to ensure your financial model is sustainable?',
            classes: "govuk-label--l",
            isPageHeading: true
          },
          maxlength: 4000,
          id: "create-new-project-academy-finance-steps",
          name: "create-new-project-academy-finance-steps",
          value: data["create-new-project-academy-finance-steps"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    
  </div>
</div>

{% endblock %}
