{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      {{ serviceName }}
    </h1>
    <p class="govuk-body-l">Home of the External Applications prototype.</p>

    <a href="/manage-prototype/clear-data" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear session data
    </a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="border-top: 1px solid #b1b4b6; padding-top: 30px;">

    <h2 class="govuk-heading-l" id="alpha-sprint-10">
      Alpha sprint 10
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 10.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>moved academy data to the data file, rather than hardcoded in the select academy page.</li>
        <li>updated landing page version 2 to include more guidance.</li>
        <li>added 3 questions for the finance section.</li>
        <li>created a <a class="govuk-link" href="alpha-sprint-10/detailed-guidance.html" class="govuk-link">detailed guidance page</a>.</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="alpha-sprint-10/landing-page-version-1" class="govuk-link">Go to the landing page version 1</a></li>
          <li><a class="govuk-link" href="alpha-sprint-10/govuk-information-note.html" class="govuk-link">Go to the Information note page</a></li>
          <li><a class="govuk-link" href="alpha-sprint-10/landing-page-version-2" class="govuk-link">Go to the landing page version 2</a></li>
          <li><a class="govuk-link" href="alpha-sprint-10/govuk-guide-for-schools.html" class="govuk-link">Go to the Guide for Schools page</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        
      </div>
    </div> 
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    
    <h2 class="govuk-heading-l" id="alpha-sprint-7">
      Alpha sprint 7
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 7.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Landing page versions 1 and 2 added.</li>
        <li>The academies search pattern is added.</li>
        <li>The incoming trust search pattern is added.</li>
        <li>The Check Your Answers page and Application completed is added.</li>
        <li>Dashboard is updated.</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>School head teacher</li>
          <li><a class="govuk-link" href="alpha-sprint-7/landing-page-version-1" class="govuk-link">Go to the landing page version 1</a></li>
          <li><a class="govuk-link" href="alpha-sprint-7/govuk-information-note.html" class="govuk-link">Go to the Information note page</a></li>
          <li><a class="govuk-link" href="alpha-sprint-7/landing-page-version-2" class="govuk-link">Go to the landing page version 2</a></li>
          <li><a class="govuk-link" href="alpha-sprint-7/govuk-guide-for-schools.html" class="govuk-link">Go to the Guide for Schools page</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        
      </div>
    </div>    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-1">
      Alpha sprint 1
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 1.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added placeholder pages for internal and external users.</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">School 1: St. Gill's Primary School</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>School head teacher</li>
          <li><a class="govuk-link" href="alpha-sprint-1/s-p?id=W3323" class="govuk-link">Go to their portal page</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">School 2: St. Russ's Primary School</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>School head teacher</li>
          <li><a class="govuk-link" href="alpha-sprint-1/s-p?id=E9495" class="govuk-link">Go to their portal page</a></li>
        </ul>
      </div>
    </div>    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>
  <div class="govuk-grid-column-one-quarter">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://github.com/DFE-Digital/external-applications-prototype">
              GitHub repo
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
