{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      {{ serviceName }}
    </h1>
    <p class="govuk-body-l">Home of the External Applications prototype.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="border-top: 1px solid #b1b4b6; padding-top: 30px;">

    <h2 class="govuk-heading-l" id="alpha-sprint-1">
      Alpha sprint 1
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 1.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added placeholder pages for internal and external users.</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 1: External users</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>School head teacher</li>
          <li><a class="govuk-link" href="alpha-sprint-1/external-page-1.html">See the external first page</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Role 2: Internal users</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>Delivery officer</li>
          <li><a class="govuk-link" href="alpha-sprint-1/internal-page-1.html">See the internal page</a></li>
        </ul>
      </div>
    </div>    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>
  <div class="govuk-grid-column-one-quarter">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              GitHub repo
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
