{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      {{ serviceName }}
    </h1>
    <p class="govuk-body-l">Home of the External Applications prototype.</p>

    <a href="/manage-prototype/clear-data" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear session data
    </a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="border-top: 1px solid #b1b4b6; padding-top: 30px;">

    <h2 class="govuk-heading-l" id="alpha-sprint-18">
      Alpha sprint 19
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 19.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>New section "About the trusts that schools are leaving" added</li>
        <li>Outgoing trust details task added</li>
        <li>Added the Link to maintained schools task</li>
        <li>Added a progressive enhancement version of the incoming trust</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (new application)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Arden Laney</li>
          <li>Log in as Arden Laney (lead applicant)</li>
          <li><a class="govuk-link" href="alpha-sprint-19/landing-page?userType=lead" class="govuk-link">Go to landing page</a></li>
        </ul>  
        <p></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (resume applications)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Arden Laney</li>
          <li>Log in as John Smith (a contributor)</li>
          <li><a class="govuk-link" href="alpha-sprint-19/landing-page?userType=contributor" class="govuk-link">Go to landing page</a></li>
        </ul>  
      </div>
    </div> 
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-18">
      Alpha sprint 18
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 18.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added the Trustees task</li>
        <li>Added the Governance structure task</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (new application)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Arden Laney</li>
          <li>Log in as Arden Laney (lead applicant)</li>
          <li><a class="govuk-link" href="alpha-sprint-18/landing-page?userType=lead" class="govuk-link">Go to landing page</a></li>
        </ul>  
        <p></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (resume applications)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Arden Laney</li>
          <li>Log in as John Smith (a contributor)</li>
          <li><a class="govuk-link" href="alpha-sprint-18/landing-page?userType=contributor" class="govuk-link">Go to landing page</a></li>
        </ul>  
      </div>
    </div> 
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-16">
      Alpha sprint 16
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 16.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Show the contributors home page upfront for new applications. </li>
        <li>Updated the task list to include the new tasks.</li>
        <li>Added the reason and benefits task (academies)</li>
        <li>Added the Risks task</li>
        <li>Added the reason and benefits task (trust)</li>
        <li>Added the High-quality and inclusive education task</li>
        <li>Added the School improvement task</li>
        <li>Added the Members task</li>
        <li>Iterated the declaration task</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (new application)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Arden Laney</li>
          <li>Log in as Arden Laney (lead applicant)</li>
          <li><a class="govuk-link" href="alpha-sprint-16/landing-page?userType=lead" class="govuk-link">Go to landing page</a></li>
        </ul>  
        <p></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (resume applications)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Arden Laney</li>
          <li>Log in as John Smith (a contributor)</li>
          <li><a class="govuk-link" href="alpha-sprint-16/landing-page?userType=contributor" class="govuk-link">Go to landing page</a></li>
        </ul>  
      </div>
    </div> 
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-14">
      Alpha sprint 14
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 14.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Updated content throughout this sprint's prototype, based on content audit</li>
        <li>Replaced the landing page content by using <a href="https://draft-origin.publishing.service.gov.uk/guidance/apply-to-transfer-an-academy-to-another-trust?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxZTk2NThjMi0yMDQ0LTQzMDgtODNjMi0yODA5YTA2ZGE1MDUiLCJjb250ZW50X2lkIjoiNTk2YTExMWYtNzg5OS00ZTg0LWI0NGItYmE2NzE1ODJhOWE2IiwiaWF0IjoxNzQ3ODIxNzk4LCJleHAiOjE3NTA1MDAxOTh9.jGiT9GGgD1ohj06J5QNwMmN71f5P5x0EAbGsqrfE-a8&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share">the draft a new guidance page on GOV.UK</a></li>
        <li>Added the declaration task.</li>
        <li>Moved the contributors section to the sidebar.</li>
        <li>Re-styled the task owner box in summary pages.</li>
        <li>Renamed back link on summary pages to make them explicit for going back to the application task list.</li>
        <li>Added a link to invite contributors in task owner update page.</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (new application)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Arden Laney</li>
          <li>Log in as Arden Laney (lead applicant)</li>
          <li><a class="govuk-link" href="alpha-sprint-14/landing-page?userType=lead" class="govuk-link">Go to landing page</a></li>
        </ul>  
        <p></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (resume applications)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Arden Laney</li>
          <li>Log in as John Smith (a contributor)</li>
          <li><a class="govuk-link" href="alpha-sprint-14/landing-page?userType=contributor" class="govuk-link">Go to landing page</a></li>
        </ul>  
      </div>
    </div> 
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-12">
      Alpha sprint 12
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 12.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Reverted back to the GOV.UK Front-end by removing the DfE Front-end.</li>
        <li>Added task owners to the task list.</li>
        <li>Added a contributors page.</li>
        <li>Task owners can now be updated.</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (new application)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Zara Laney</li>
          <li>Log in as Zara Laney (lead applicant)</li>
          <li><a class="govuk-link" href="alpha-sprint-12/landing-page?userType=lead" class="govuk-link">Go to landing page</a></li>
        </ul>  
        <p></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (resume applications)</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>The lead applicant is Zara Laney</li>
          <li>Log in as John Smith (a contributor)</li>
          <li><a class="govuk-link" href="alpha-sprint-12/landing-page?userType=contributor" class="govuk-link">Go to landing page</a></li>
        </ul>  
      </div>
    </div> 
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-10">
      Alpha sprint 10
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 10.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>moved academy data to the data file, rather than hardcoded in the select academy page.</li>
        <li>updated landing page version 2 to include more guidance.</li>
        <li>added 3 questions for the finance section.</li>
        <li>created a <a class="govuk-link" href="alpha-sprint-10/detailed-guidance.html" class="govuk-link">detailed guidance page</a>.</li>
        <li>added task list as an alternative to the linear journey.</li>
        <li>updated 'application submitted' page based on user research round 1</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (linear journey)</h4>
          <p><a class="govuk-link" href="alpha-sprint-10/landing-page-version-2" class="govuk-link">Go to landing page</a></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey (task list)</h4>
          <p><a class="govuk-link" href="alpha-sprint-10b/landing-page-version-2" class="govuk-link">Go to landing page</a></p>
      </div>
    </div> 
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    
    <h2 class="govuk-heading-l" id="alpha-sprint-7">
      Alpha sprint 7
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 7.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Landing page versions 1 and 2 added.</li>
        <li>The academies search pattern is added.</li>
        <li>The incoming trust search pattern is added.</li>
        <li>The Check Your Answers page and Application completed is added.</li>
        <li>Dashboard is updated.</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">To-be journey</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>School head teacher</li>
          <li><a class="govuk-link" href="alpha-sprint-7/landing-page-version-1" class="govuk-link">Go to the landing page version 1</a></li>
          <li><a class="govuk-link" href="alpha-sprint-7/govuk-information-note.html" class="govuk-link">Go to the Information note page</a></li>
          <li><a class="govuk-link" href="alpha-sprint-7/landing-page-version-2" class="govuk-link">Go to the landing page version 2</a></li>
          <li><a class="govuk-link" href="alpha-sprint-7/govuk-guide-for-schools.html" class="govuk-link">Go to the Guide for Schools page</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        
      </div>
    </div>    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="alpha-sprint-1">
      Alpha sprint 1
    </h2>

    <div class="prototype-index-card">
      <p>This is the prototype for alpha sprint 1.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added placeholder pages for internal and external users.</li>
      </ul>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">School 1: St. Gill's Primary School</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Zara Laney</li>
          <li>School head teacher</li>
          <li><a class="govuk-link" href="alpha-sprint-1/s-p?id=W3323" class="govuk-link">Go to their portal page</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <h4 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">School 2: St. Russ's Primary School</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alex James</li>
          <li>School head teacher</li>
          <li><a class="govuk-link" href="alpha-sprint-1/s-p?id=E9495" class="govuk-link">Go to their portal page</a></li>
        </ul>
      </div>
    </div>    

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  </div>
  <div class="govuk-grid-column-one-quarter">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://github.com/DFE-Digital/external-applications-prototype">
              GitHub repo
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
