{% extends "layouts/main.html" %}

{% set pageName="Academy funding agreement (Progressive enhancement)" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <form class="form" action="academy-funding-agreement-progressive-handler" method="post">

      {{ govukRadios({
        idPrefix: "academy-funding-agreement",
        name: "academy-funding-agreement",
        fieldset: {
          legend: {
            text: "Is the academy operating based on its funding agreement?",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: data["academy-funding-agreement"] === "yes"
          },
          {
            value: "no",
            text: "No",
            checked: data["academy-funding-agreement"] === "no"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    
  </div>
</div>

{% endblock %}
