{% extends "layouts/main.html" %}

{% set pageName="What roles and responsibilities have they had in the past 5 years?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "member-confirmation",
    classes: "govuk-!-margin-top-6"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="member-future-role" method="post">
      
      {{ govukCharacterCount({
        label: {
          html: '<span class="govuk-caption-l">Members</span>
          What roles and responsibilities has ' + data['member-full-name'] + ' had in the past 5 years?',
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          html: '<p class="govuk-body">Include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>any employment, self-employment, non-exec roles</li>
            <li>dates</li>
            <li>names of any schools, academy trusts or other educational institutions</li>
            <li>explanation of how the roles demonstrate expertise and skills needed for their role as members</li>
          </ul>'
        },
        maxlength: 4000,
        id: "member-current-responsibilities",
        name: "member-current-responsibilities",
        value: data["member-current-responsibilities"]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
      
    </form>
  </div>
</div>

{% endblock %} 