{% extends "layouts/main.html" %}

{% set pageName="Trust closure" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="outgoing-trusts-closure-handler" method="post">
      
      <!-- Hidden input to preserve edit context -->
      {% if data.editIndex !== undefined %}
      <input type="hidden" name="edit-index" value="{{ data.editIndex }}">
      {% endif %}
      
      <!-- Hidden input to preserve trust details -->
      <input type="hidden" name="trust-name" value="{{ data['selected-outgoing-trust-name'] }}">
              <input type="hidden" name="trust-ukprn" value="{{ data['selected-outgoing-trust-ukprn'] }}">
      <input type="hidden" name="trust-company-house" value="{{ data['selected-outgoing-trust-company-house'] }}">

      {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {% call govukFieldset({
        legend: {
          html: '<span class="govuk-caption-l">Trust details</span>
            Will this trust close after the transfer?',
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

        {{ govukRadios({
          name: "trust-will-close",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: data["trust-will-close"] === "Yes"
            },
            {
              value: "No",
              text: "No",
              checked: data["trust-will-close"] === "No"
            }
          ]
        }) }}

      {% endcall %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %} 